asgiref==3.11.1
cffi==2.0.0
cryptography==47.0.0
Django==4.2.30
django-cors-headers==4.9.0
django-healthchecks==1.5.0
psycopg2-binary==2.9.12
azure-identity==1.25.3
pycparser==2.23
PyJWT[crypto]==2.12.1
six==1.17.0
sqlparse==0.5.5
uwsgi==2.0.31
