asgiref==3.6.0
cffi==1.15.0
Django==4.2.3
django-cors-headers==4.2.0
django-healthchecks==1.5.0
psycopg2-binary==2.9.6
pycparser==2.21
pytest==7.1.2
pytest-django==4.5.2
PyJWT[crypto]==2.6.0
six==1.16.0
sqlparse==0.4.4
uwsgi==2.0.22

setuptools>=65.5.1 # CVE-2022-40897
