name: Publish to PyPI
permissions:
  contents: read
  pull-requests: write

on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-rc*'

jobs:
  build:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.14"
    - name: Install build tools
      run: python3 -m pip install build --user
    - name: Build the package
      run: python3 -m build apikeyclient
    - name: Store the packages
      uses: actions/upload-artifact@v4
      with:
        name: python-package-distributions
        path: apikeyclient/dist/

  publish-to-pypi:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Upload to PyPI
    needs:
      - build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/datadiensten-apikeyclient/
    permissions:
      id-token: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: apikeyclient/dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
