name: Build and test
permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    services:
      db:
        image: postgres:14
        env:
          POSTGRES_DB: apikeyserv
          POSTGRES_USER: apikeyserv
          POSTGRES_PASSWORD: insecure
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    -
      working-directory: server
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements_dev.txt
    - name: Test Server
      working-directory: server
      run: |
        pytest
      env:
        DATABASE_HOST: localhost
    -
      working-directory: apikeyclient
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[test]
    - name: Test Middleware
      working-directory: apikeyclient
      run: |
        pytest
      env:
        DATABASE_HOST: localhost
